body {
    background-color: rgba(246, 166, 166, 0.98);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 90vh;
}

#new-quote-btn {
    background-color: rgb(105, 103, 103);
    border-color: rgb(105, 103, 103);
}

#quote-output {
    font-size: 1.7rem;
    font-style: italic;
}

#author-output {
    font-size: 1.2rem;
    font-weight: 500;
}